import * as S from './styles';
import * as T from './interfaces';

export default function {{pascalCase name}}({  }: T.{{pascalCase name}}Props) {
  return (
    <S.Container>
      <h1>{{pascalCase name}}</h1>
    </S.Container>
  );
}
