@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

body{ 
  background: rgb(4,5,6);
  background: linear-gradient(90deg, rgba(4,5,6,1) 0% rgba(0,0,0,1) 35%, rgba(0,0,0,1) 100%);
}

.navbar {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  line-height: inherit;
  padding: 50px;
  
  height: 25px;
  max-width: 1000px;

}
.navbar h1 {
  float: left;
  margin-left: -20rem;

  color: #ff5f5f;
  font-size: 3.5rem;
}

.navbar  ul, li {
  list-style: none;
  
  display: inline-block;

  padding: 15px;

  font-size: 1rem;
}

.navbar a{
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}

.navbar a:hover {
  color: #ff5f5f;
}

#wallpaper{
  width: 100%;

}

.rounded{
  border-radius: 350px;
  border: 3px solid #ff5f5f;
}

.apresentation-text{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 15%;
}

.apresentation-text h1 {
  color: #FFF;
  font-size: 7rem;
}

.apresentation-text p {
  color: #FFF;
  font-size: 1rem;
}

.simulation {
  background-color: #ff5f5f;

  width: 65rem;
  height: 8rem;

  margin: auto;
  margin-top: 20rem;

  

  border-radius: 0.5rem;
}